body{
    margin:0 auto;
    width:70%;
    border-radius:15px red;
}
#title{
    font-family: Arial, Helvetica, sans-serif,  'Arial Narrow Bold';
    letter-spacing:4px;
    font-size:40px;
    animation: color 4s infinite linear;
}
.titlep:hover{
    color:greenyellow;
    transition:0.5s ease;
}

*{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}
body{
    background-color: gray;
}
.titlep{
    text-align:center;
}


#profpic {
    width:30%;
    height:20%;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    filter:grayscale(100%);
    -webkit-transition:all 1s ease;
    padding-left:30%;
    padding-right:30%;
    transform:rotatex(150deg);
}
.container{
    background-color:white;
    border-radius: 30px;
    width:99%;
    padding-left:20px;
    padding-bottom:20px;
}

#profpic:hover{
    filter:grayscale(0%);
    filter:gray;
    -webkit-animation:grayscale(0%);
    filter: none;
    transition:1s ease;
    transform:rotatex(0deg);

}

@keyframes color {
    0%{
        color: black;
    }
    20%{
        color:red;
    }
    30%{
        color:green;
    }
    40%{
        color:yellow;
    }
    50%{
        color:lawngreen
    }
    70%{
        color: blue;
    }
    90%{
        color: aqua;
    }
    
}

h4{
    font-size:20px;
}
p{
    font: 15px;;
}

li{
    font-size: 20px;
}
h1{
    text-align:center;
}
p {
    text-align: center;
}

.bttm{
    background-color:azure;
    border-radius:10px;
    padding-left:20px;
    padding-right:20px;
}